
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gariley;
    color: #ffff;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#list{
    display: flex;
    gap: 2rem;

}

.name{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 70px;
    white-space:nowrap;
}